.index-route {
	position: relative;
	flex: 1 1 0%;
	padding: 2rem 0;

	.inner,
	.header,
	.main {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		align-items: center;
		max-width: 100%;
	}

	.inner {
		width: 48rem;
		max-width: calc(100% - 2rem);
		margin: 0 auto;
		transform-origin: center;
		animation: fadeSlideIn 2s;
		animation-iteration-count: 1;
	}

	.header {
		margin-bottom: 1rem;
	}

	.remix-logo-link {
		display: flex;
	}

	.remix-logo {
		width: 5rem;
		@media (min-width: 640px) {
			width: 6rem;
		}
	}

	.stack-logo {
		width: 18rem;
		@media (min-width: 640px) {
			width: 24rem;
		}
	}

	.main {
		gap: 1.5rem;
		@media (min-width: 640px) {
			gap: 2rem;
		}
	}

	.intro {
		max-width: 28rem;
		text-align: center;
		font-size: 1rem;
		@media (min-width: 640px) {
			font-size: 1.125rem;
		}

		code {
			display: inline-flex;
			font-size: 0.75em;
			background-color: hsl(0 0% 0% / 0.05);
			border: 1px solid hsl(0 0% 0% / 0.1);
			border-radius: 0.25rem;
			padding: 0.25em 0.375em;
			line-height: 1;
			@media (prefers-color-scheme: dark) {
				background-color: hsl(0 100% 100% / 0.125);
				border-color: hsl(0 100% 100% / 0.2);
			}
		}
	}

	.actions {
		display: flex;
		gap: 1rem;
		justify-content: center;
	}

	.logos {
		display: flex;
		margin-top: 1.25rem;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		@media (min-width: 640px) {
			gap: 2rem;
		}
	}

	.logo-link {
		display: flex;
		justify-content: center;
		padding: 0.125rem;
		filter: grayscale(1);
		transition: all 250ms ease-out;
		&:hover,
		&:focus {
			filter: grayscale(0);
		}
	}

	.logo-wrap {
		display: contents;
	}

	.logo {
		object-fit: contain;
		height: 3rem;
		max-width: 6rem;
		width: auto;
	}

	@media (min-width: 640px) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@keyframes fadeSlideIn {
	0%,
	20% {
		opacity: 0;
		transform: scale(0.985, 0.985) translateY(0.25rem);
	}
	100% {
		opacity: 1;
		transform: scale(1, 1) translateY(0);
	}
}
